@model IEnumerable<MVC.Models.PeliculasInicio>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}




<div class="row">
    <br />
    <div class="panel panel-default">
      <div class="panel-heading fondoCabecera">
         <div class="derecha">
             @if(Session["IdUsuario"] != null)
             {
                 <a href="Administracion/Home" class="btn btn-default btn-xs">Administracion</a>
                 
             }
                else
                    {
                        @Html.ActionLink("Iniciar Sesion", "Login", "Home", new {@class = "btn btn-default btn-xs" })
                    }
         </div>
        <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
      </div>
      <div class="panel-body">
          
          <div class="col-md-12">
            @foreach(var cartelera in Model)
            {
              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/@cartelera.Imagen" class="img-thumbnail" />
                          <span><b>@cartelera.Nombre</b></span><br />
                          <span class="label label-success">@cartelera.Genero</span> <span class="label label-warning">@cartelera.Calificacion</span><hr />
                          @Html.ActionLink("Comprar", "ReservasVersiones", "Peliculas", new { id = @cartelera.IdPelicula }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>
            }
        </div>
      </div>
    </div>
</div>
