@model IEnumerable<MVC.Models.PeliculasInicio>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@if(Session["NombreUsuario"] != null)
{
<h4>Bienvenido @Session["NombreUsuario"].ToString()</h4>
    @Html.ActionLink("Logout", "logout", "Login");
}


<div class="row">
    <br />
    <div class="panel panel-default">
      <div class="panel-heading fondoCabecera"><div class="derecha">@Html.ActionLink("Administracion", "Reserva", "Peliculas", new {@class = "btn btn-default btn-xs" })</div>
        <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
      </div>
      <div class="panel-body">
          
          <div class="col-md-12">
            @foreach(var cartelera in Model)
            {
              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/@cartelera.Imagen" class="img-thumbnail" />
                          <span><b>@cartelera.Nombre</b></span><br />
                          <span class="label label-success">@cartelera.Genero</span> <span class="label label-warning">@cartelera.Calificacion</span><hr />
                          @Html.ActionLink("Comprar", "Reserva", "Peliculas", new { id = @cartelera.IdCartelera }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>
            }

        </div>
      </div>
    </div>
</div>
