@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <br />
    <div class="panel panel-default">
      <div class="panel-heading fondoCabecera"><div class="derecha">@Html.ActionLink("Administracion", "Reserva", "Peliculas", new {@class = "btn btn-default btn-xs" })</div>
        <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
      </div>
      <div class="panel-body">
          
          <div class="col-md-12">

              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/11-19-34-f4.jpg" class="img-thumbnail" />
                          <span><b>Los 4 Fantasticos</b></span><br />
                          <span class="label label-success">Accion</span> <span class="label label-warning">Mayores de 13</span><hr />
                          @Html.ActionLink("Comprar", "Reserva", "Peliculas", new { id = "nadaPorAhora" }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>

              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/55-18-30-logan_63602.jpg" class="img-thumbnail"/>
                          <span><b>Logan</b></span><br />
                          <span class="label label-success">Accion</span> <span class="label label-warning">Mayores de 13</span><hr />
                          @Html.ActionLink("Comprar", "Reserva", "Peliculas", new { id = "nadaPorAhora" }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>

              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/ww.jpg" class="img-thumbnail"/>
                          <span><b>La Mujer Maravilla</b></span><br />
                          <span class="label label-success">Accion</span> <span class="label label-warning">Mayores de 13</span><hr />
                          @Html.ActionLink("Comprar", "Reserva", "Peliculas", new { id = "nadaPorAhora" }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>

              <div class="col-md-3 text-center">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="~/Content/Upload/40svm.jpg" class="img-thumbnail"/>
                          <span><b>Batman vs Superman</b></span><br />
                          <span class="label label-success">Accion</span> <span class="label label-warning">Mayores de 13</span><hr />
                          @Html.ActionLink("Comprar", "Reserva", "Peliculas", new { id = "nadaPorAhora" }, new {@class = "btn btn-info btn-block" })
                      </div>
                    </div>
              </div>


        

        </div>
      </div>
    </div>
</div>
