

@{
    ViewBag.Title = "ClienteReserva";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2 class="text-center">Cliente Reserva</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">

            <div class="panel-heading">
                <h3 class="panel-title text-center">Reserva de entrada</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="col-md-3">
                        <div class="panel-body">
                            <img src="~/Content/Images/soldado.png" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <table class="table">
                                    .
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Día</th>
                                <th>Género</th>
                                <th>Clasificación</th>
                                <th>Precio de la Entrada</th>
                            </tr>
                                    <tr>
                                        <td>Soldado Argentino</td>
                                        <td>drigida por brian</td>
                                        <td>Lunes 24 Abril</td>
                                        <td>Acción</td>
                                        <td>Buena</td>
                                        <td>200</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Complete los siguientes datos</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.Label("Nombre", new { @class = "panel-title text-center" })
                        @*@Html.TextBox("Nombre", null, new { @class = "form-control", Value = ViewBag.Nombre.Email })*@
                        @Html.TextBox("Nombre", null, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.Label("Cantidad de Entradas", new { @class = "panel-title text-center" })
                       @* @Html.TextBox("Cantidad de Entradas", null, new { @class = "form-control", Value = ViewBag.clienteReserva.CantidadEntradas })*@
                       @Html.TextBox("Cantidad de Entradas" , null, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Tipo de Documentos", new { @class = "panel-title text-center" })


                        @Html.DropDownList("IdTipoDocumento",new SelectList(ViewBag.TipoDocumento,"IdTipoDocumento","Descripcion"), new { @class = "form-control" })
                        @*<select class="form-control">
                            <option>Seleccione Tipo de documento</option>
                            <option>L.E / DNI</option>
                            <option>PASAPORTE</option>

                        </select>*@

                        <br />

                        <div class="form-group">
                            @Html.Label("Numero de Documentos", new { @class = "panel-title text-center" })
                            @*@Html.TextBox("Numero de Documentos", null, new { @class = "form-control", Value = ViewBag.NumDoc.NumeroDocumento })*@
                           @Html.TextBox("Numero de Documentos", null, new { @class = "form-control" })
                        </div>

                    </div>

                    <button type="submit" class="btn btn-success btn-block">Confirmar Reserva</button>
                }
            </div>
        </div>

    </div>
</div>

