@model MVC.Models.FormatoDia
@{
    ViewBag.Title = "ReservasVersiones";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading fondoCabecera">
                <h3 class="panel-title text-center"><img src="~/Content/Images/logo.png" alt="Logo de Cinelam" /></h3>
            </div>
        <div class="panel-body text-center">
            <h5 class="text-center">Sigue lo siguientes pasos para realizar tu reserva.</h5>
            <img src="~/Content/Images/paso1OFF.png" /> <img src="~/Content/Images/paso2OFF.png" /> <img src="~/Content/Images/paso3OFF.png" /> <img src="~/Content/Images/paso4.png" /> <br /><br />
                    @using (Html.BeginForm("ClienteReserva", "Peliculas", FormMethod.Post))
                    {
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading fondoCabeceraAdmin2">
                                    @Html.Label("Seleccionar el horario de la Funcion", new { @class = "panel-title " })
                                </div>
                                <div class="panel-body">
                                    @Html.DropDownListFor(model => model.Hora, new SelectList(ViewBag.Horarios, "Hora", "funcion"), new { @class = "form-control" })
                                </div>
                            </div>
                                @Html.TextBox("IdPelicula", null, new{@class = "hidden", Value = ViewBag.Pelicula})
                                @Html.TextBox("IdVersion", null, new{@class = "hidden", Value = ViewBag.Version})
                                @Html.TextBox("IdSede", null, new{@class = "hidden", Value = ViewBag.Sede})
                                @Html.TextBox("fecha", null, new{@class = "hidden", Value = ViewBag.Fecha})

                                                
                                <button type="submit" class="btn btn-danger btn-block" >Finalizar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
