@model Entidades.Reservas
@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/Css/StyleLogin.css" rel="stylesheet" />
<script src="~/Content/Js/ValidacionLogin.js"></script>
<script src="~/Content/Js/Reserva.js"></script>

<h3 class="text-center">Reserva - Entrada</h3>
<div class="container">


    <div class="container">
        <!-- Formulario - Nueva Pelicula -->

        <!-- Formulario - Asignar Pelicula a Sala -->
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Reserva de Entrada</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    @*  <h3 class="panel-title text-center">Versión de la pelicula</h3>*@
                                    @Html.Label("Versión de la pelicula", new { @class = "panel-title text-center" })
                                </div>
                                <div class="panel-body">


                                   @Html.DropDownListFor(model => model.IdVersion, new SelectList(ViewBag.Versiones, "IdVersion", "Nombre"), new { @class = "form-control" })

                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    @Html.Label("Sedes", new { @class = "panel-title text-center" })
                                </div>
                                <div class="panel-body">

                                    @Html.DropDownListFor(model => model.IdSede, new SelectList(ViewBag.Sedes, "IdSede", "Nombre"), new { @class = "form-control" })
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    @Html.Label("Dias", new { @class = "panel-title text-center" })

                                </div>
                                <div class="panel-body">

                                    @Html.DropDownListFor(model => model.FechaCarga, new SelectList(ViewBag.Dias, "FechaCarga", "FechaCarga"), new { @class = "form-control" })

                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    @Html.Label("Horarios", new { @class = "panel-title text-center" })
                                </div>
                                <div class="panel-body">
                                    @Html.DropDownListFor(model => model.FechaHoraInicio, new SelectList(ViewBag.Horarios, "FechaHoraInicio", "FechaHoraInicio"), new { @class = "form-control" })
                                  
                                </div>
                            </div>
                        </div>

                        <div id="Comprar" class="text-center">
                            <a href="/Peliculas/ClienteReserva?id=SoldadoArgentino" class="btn btn-success">Comprar Entrada</a>

                        </div>
                    }
                </div>
            </div>
        </div>

        <br />
        <!-- Catalogo de Peliculas -->

    </div>


</div>
