@model Entidades.Carteleras
@{
    ViewBag.Title = "Carteleras";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Carteleras</h2>

    <!-- Formulario - Asignar Pelicula a Sala -->
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title text-center">Crear nueva cartelera</h3></div>
            <div class="panel-body">
                @using(Html.BeginForm())
                {
                    
                  <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Sede</h3></div>
                      <div class="panel-body">
                        @Html.DropDownList("IdSede",new SelectList(ViewBag.Sedes,"IdSede","Nombre"), new { @class = "form-control" })
                      </div>
                    </div>
                  </div>
                    
                    <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Sala</h3></div>
                      <div class="panel-body">
                        <select class="form-control" name="NumeroSala" id="NumeroSala">
                          <option value="1">Sala 1</option>
                          <option value="2">Sala 2</option>
                          <option value="3">Sala 3</option>
                          <option value="4">Sala 4</option>
                          <option value="5">Sala 5</option>
                          <option value="6">Sala 6</option>
                          <option value="7">Sala 7</option>
                        </select>
                      </div>
                    </div>
                  </div>    

                  <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Peliculas Disponibles</h3></div>
                      <div class="panel-body">
                         @Html.DropDownList("IdPelicula",new SelectList(ViewBag.Peliculas,"IdPelicula","Nombre"), new { @class = "form-control" })
                      </div>
                    </div>
                  </div>
                    
                    <div class="col-md-3">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Versiones Disponibles</h3></div>
                      <div class="panel-body">
                         @Html.DropDownList("IdVersion",new SelectList(ViewBag.Versiones,"IdVersion","Nombre"), new { @class = "form-control" })
                      </div>
                    </div>
                  </div>

                  

                    <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Dias de semana en que sera proyectada</h3></div>
                      <div class="panel-body text-center">
                          <div class="col-md-3 panel panel-default">Lunes @Html.CheckBox("Lunes", false)</div> 
                          <div class="col-md-3 panel panel-default">Martes @Html.CheckBox("Martes", false)</div>
                          <div class="col-md-3 panel panel-default">Miercoles @Html.CheckBox("Miercoles", false)</div>
                          <div class="col-md-3 panel panel-default">Jueves @Html.CheckBox("Jueves", false)</div>
                          <div class="col-md-3 panel panel-default">Viernes @Html.CheckBox("Viernes", false)</div>
                          <div class="col-md-3 panel panel-default">Sabado @Html.CheckBox("Sabado", false)</div>
                          <div class="col-md-3 panel panel-default">Domingo @Html.CheckBox("Domingo", false)</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8 form-inline text-center">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Vigencia de Cartelera</h3></div>
                      <div class="panel-body">

                        @Html.Label("FechaInicio", "Fecha de Inicio")
                        @Html.TextBox("FechaInicio", null, new { @class = "form-control", type = "Date" })
                        
                        @Html.Label("FechaFin", "Fecha de Fin")
                        @Html.TextBox("FechaFin", null, new { @class = "form-control", type = "Date" })
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3 class="panel-title text-center">Horario de Inicio</h3></div>
                      <div class="panel-body">
                        @Html.TextBox("HoraInicio", null, new { @class = "form-control"})
                      </div>
                    </div>
                  </div>

                 

                  <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-block">Crear Cartelera</button>
                  </div>
                }
             </div>
        </div>
    </div>
       
    <br />
