@model IEnumerable<MVC.Models.InfoCarteleras>
@{
    ViewBag.Title = "Carteleras";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Carteleras</h2>

    <!-- Formulario - Asignar Pelicula a Sala -->
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    <!-- Listado de Carteleras -->
    <div class="row" >
        <div class="panel panel-default">
          <div class="panel-heading fondoCabeceraAdmin"><h3 class="panel-title text-center letraBlanca">Listado de Carteleras</h3></div>
          <div class="panel-body">
        <table class="table table-hover text-center">
            <tr>
              <td><strong>Cartelera</strong></td>
              <td><strong>Sede</strong></td>
              <td><strong>Sala</strong></td>
              <td><strong>Pelicula</strong></td>
              <td><strong>Version</strong></td>
              <td><strong>Inicio</strong></td>
              <td><strong>Fin</strong></td>
              <td><strong>Accion</strong></td>
            </tr>
             @foreach(var cartelera in Model)
             {
              <tr>
                  <td># @cartelera.IdCartelera</td>
                  <td>@cartelera.Sede</td>
                  <td>@cartelera.Sala</td>
                  <td>@cartelera.Pelicula</td>
                  <td>@cartelera.Version</td>
                  <td>@cartelera.FechaInicio</td>
                  <td>@cartelera.FechaFin</td>
                  <td>
                      @Html.ActionLink("Modificar", "EditarCartelera", "Administracion", new { id = @cartelera.IdCartelera }, new {@class = "btn btn-warning" })
                      @Html.ActionLink("Eliminar", "EliminarCartelera", "Administracion", new { id = @cartelera.IdCartelera }, new {@class = "btn btn-danger" })
                  </td>
              </tr>
             }
            

        </table>
                      @Html.ActionLink("Nueva Cartelera", "NuevaCartelera", "Administracion", new {@class = "btn btn-success btn-block" })
              
          </div>
        </div>
    </div>



       
    <br />
