@model Entidades.Peliculas
@{
    ViewBag.Title = "EditarPelicula";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Pelicula</h2>

@using (Html.BeginForm("EditarPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Label("Nombre")
                    @Html.TextBox("Nombre", null, new { @class = "form-control", Value = Model.Nombre})
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })    
                    <br />
                    @Html.Label("Descripcion")
                    @Html.TextArea("Descripcion", null, new { @class = "form-control", Value = Model.Descripcion })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" }) 
                    <br />
                    @Html.Label("Imagen")
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-2"><img src="~/Content/Upload/@Model.Imagen" class="img-thumbnail" /> </div><br /><br /><br /><br />
                        <div class="col-md-10">
                            <span>Selecciona una imagen para modificar la actual</span>
                            @Html.TextBox("Imagen", null, new { @class = "form-control ", type = "file" })
                        </div>              
                    </div>
                    @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" }) 
                    <br />    
                    @Html.Label("Calificacion")
                    @Html.DropDownList("IdCalificacion",new SelectList(ViewBag.Calificaciones,"IdCalificacion","Nombre"), new { @class = "form-control", Value= Model.IdCalificacion })
                    <br />
                    @Html.Label("Genero")
                    @Html.DropDownList("IdGenero", new SelectList(ViewBag.Generos, "IdGenero", "Nombre"), new { @class = "form-control", Value = Model.IdGenero})
                    <br />
                    @Html.Label("Duracion")
                    @Html.TextBox("Duracion", null, new { @class = "form-control", Value = Model.Duracion }) 
                    @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" })   
    
                    @Html.TextBox("IdPelicula",null, new {Value = Model.IdPelicula, @class = "hidden" })
                    <br />
    
                    <button type="submit" class="btn btn-success btn-block" >Actualizar</button>
                }
