@model Entidades.Sedes
@{
    ViewBag.Title = "EditarSede";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>EditarSede</h2>
@using(Html.BeginForm())
                {
                    @Html.Label("Nombre")
                    @Html.TextBox("Nombre", null, new { @class = "form-control", Value = ViewBag.sede.Nombre })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    <br />
                    @Html.Label("Direccion")
                    @Html.TextBox("Direccion", null, new { @class = "form-control", Value = ViewBag.sede.Direccion })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    <br />
                    @Html.Label("PrecioGeneral", "Precio General")
                    @Html.TextBox("PrecioGeneral", null, new { @class = "form-control", Value = ViewBag.sede.PrecioGeneral })
                    @Html.ValidationMessageFor(model => model.PrecioGeneral, "", new { @class = "text-danger" })
                    <br />
                    @Html.TextBox("IdSede", null, new {Value = ViewBag.sede.IdSede, @class = "hidden" })
                    <button type="submit" class="btn btn-success btn-block" >Agregar</button>
                }