@model Entidades.Pelicula
@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<h3 class="text-center">Administracion - Peliculas</h3>
<div class="container">

    <!-- Formulario - Asignar Pelicula a Sala -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title text-center">Asignar pelicula a Sede y Sala</h3></div>
            <div class="panel-body">
                <form role="form">
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">Peliculas Disponibles</h3>
                      </div>
                      <div class="panel-body">
                        <select class="form-control">
                          <option>Rapidos y Furiosos 8</option>
                          <option>Un Jefe en Pañales</option>
                          <option>Dia del Atentado</option>
                          <option>La Bella y La Bestia</option>
                          <option>Nunca Digas su nombre</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">Sede</h3>
                      </div>
                      <div class="panel-body">
                        <select class="form-control">
                          <option>Villa Devoto</option>
                          <option>Alto Palermo</option>
                          <option>Abasto Shopping</option>
                          <option>Unicenter</option>
                          <option>DOT</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center">Sala</h3>
                      </div>
                      <div class="panel-body">
                        <select class="form-control">
                          <option>Sala 1</option>
                          <option>Sala 2</option>
                          <option>Sala 3</option>
                          <option>Sala 4</option>
                          <option>Sala 5</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-block">Asignar Pelicula</button>
                  </div>
                </form>
             </div>
        </div>
    </div>
       
    <br />
    <!-- Catalogo de Peliculas -->
    <div class="row" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Catalogo de Peliculas</h3>
          </div>
          <div class="panel-body">
        <table class="table table-hover text-center">
            <tr>
              <td><strong>Pelicula</strong></td>
              <td><strong>Accion</strong></td>
            </tr>
 
            <tr>
              <td>Rapidos y Furiosos 8</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
 
            <tr>
              <td>La Bella y la Bestia</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
 
            <tr>
              <td>Logan</td>
              <td><a href="#" class="btn btn-warning">Modificar</a></td>
            </tr>
        </table>
              <button onclick="mostrar('nuevaPelicula')" class="btn btn-primary btn-block">Agregar Pelicula</button> 
          </div>
        </div>
    </div>

        <!-- Formulario - Nueva Pelicula -->
    <div id="nuevaPelicula" class="row oculto">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading"><h3 class="panel-title text-center">NUEVA PELICULA</h3></div>
                <div class="panel-body">

@using(Html.BeginForm())
{
    @Html.Label("Nombre de la Pelicula")
    @Html.TextBox("Nombre", null, new { @class = "form-control" })    
          <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <textarea class="form-control" rows="3" id="Descripcion" name="Descripcion"></textarea>
          </div>
    @Html.Label("Genero")
    @Html.DropDownListFor(model => model.IdGenero, new SelectList(ViewBag.Generos, "IdGenero", "Nombre"), new { @class = "form-control" })
    
    @Html.Label("Calificacion")            
    @Html.DropDownListFor(model => model.IdCalificacion, new SelectList(ViewBag.Calificaciones, "IdCalificacion", "Nombre"), new { @class = "form-control" })
     

          <div class="form-group">
            <label for="Imagen">Imagen</label>
            <input type="text" class="form-control" id="Imagen" name="Imagen" placeholder="Imagen de la Pelicula">
          </div>
    @Html.Label("Duracion")
    @Html.TextBox("Duracion", null, new { @class = "form-control" }) 
    
    <button type="submit" class="btn btn-success btn-block" >Agregar</button>
}
                </div>
            </div>
        
        </div>
    </div>
</div>

