@model IEnumerable<Logica.DatosReporte>
@{
    ViewBag.Title = "ReporteReservas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><h1>Reporte de reservas</h1></div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <!-- Éste bloque no es más que un pedazo de código para insertar algo de "espacio" entre el bloque de arriba y el de abajo. -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <label class="">&nbsp;</label>
            </div>
        </div>
    </div>
    <!-- Fin del "bloque espaciador" -->
        
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>Sede</th>
                    <th>Versi&oacute;n</th>
                    <th>Pel&iacute;cula</th>
                    <th>Precio</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NumeroReserva</td>
                        <td>@item.Sede</td>
                        <td>@item.Version</td>
                        <td>@item.Pelicula</td>
                        <td>@item.Precio</td>
                    </tr>                    
                }

            </table>
        </div>
    </div>
